<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<!--<input type="text" maxlength="10" id="username" placeholder="用户名">-->

<!--<input type="text" maxlength="10" id="password" placeholder="密码">-->
<!--<input type="text" maxlength="10" id="password2" placeholder="确认密码">-->
<!--<input type="text" maxlength="20" id="email" placeholder="输入邮箱">-->
<!--<img src="/kaptcha"-->
<!--     onclick="this.src='/kaptcha?d='+new Date()*1">-->
<!--<input type="text" maxlength="5" id="code" placeholder="请输入验证码">-->
<!--<button id="login">登录</button>-->




<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg"> NewBee MALL , Let's Go !</p>
        <form th:action="@{/admin/login}" method="post">
            <div th:if="${not #strings.isEmpty(session.errorMsg)}" class="form-group">
                <div class="alert alert-danger" th:text="${session.errorMsg}"></div>
            </div>
            <div class="form-group has-feedback">
                <span class="fa fa-user form-control-feedback"></span>
                <input type="text" id="userName" name="userName" class="form-control" placeholder="请输入账号"
                       required="true">
            </div>
            <div class="form-group has-feedback">
                <span class="fa fa-lock form-control-feedback"></span>
                <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码"
                       required="true">
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" name="verifyCode" placeholder="请输入验证码" required="true">
                </div>
                <div class="col-6">
                    <img alt="单击图片刷新！" class="pointer" th:src="@{/common/kaptcha}"
                         onclick="this.src='/kaptcha?d='+new Date()*1">
                </div>
            </div>
            <div class="form-group has-feedback"></div>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script src="jquery.js"></script>
<script type="text/javascript">
    $(function () {
        // $("#login").click(function () {
        //     var code = $("#code").val();
        //     var username = $("#username").val();
        //     var password = $("#password").val();
        //     var email = $("#email").val();
        //     alert('admin/login?code=' + code+'&username='+username+'&password='+password+'&email='+email);
        //     $.ajax({
        //         type: 'GET',//方法类型
        //         url: 'admin/login?code=' + code+'&username='+username+'&password='+password+'&email='+email,
        //         success: function (result) {
        //             alert(result);
        //         },
        //         error: function (res) {
        //             alert("请求失败");
        //             alert(res.sessio)
        //         }
        //     });
        // })
    });
</script>
</html>
